<footer class="ps-4 pe-3 p-0 d-flex align-items-center w-100 m-0" style="background-color: var(--bs-body-bg); position: fixed; left: 0; bottom: 0;">
    <p class="m-0"><strong style="color: var(--bs-secondary-color)">&copy; RHS PIIT Crew</strong></p>
    <a class="btn" type="button" href="https://github.com/farns71678/TheatreChat" target="_blank" style="margin-left: auto;"><i class="bi bi-github fs-4"></i></a>
</footer>