<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatre Chat Config Menu</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/config/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/lib/qrcode.min.js"></script>
</head>
<body class="container p-2 pt-3">
    <h1 class="mb-3">Theatre Chat Application Config Menu</h1>

    <h2>Purchase Options</h2>
    <div id="purchase-items"></div>

    <div id="create-purchase-form" class="purchase-item d-flex w-100 p-2 align-items-center rounded-1 ps-3">
        <div class="purchase-content">
            $<input id="purchase-cost-input" type="number" class="purchase-cost me-2 ms-1 form-control" value="" min="0" placeholder="Price">
            Description: <input id="purchase-description-input" type="text" class="purchase-description ms-1 form-control" value="" placeholder="Purchase description">
        </div>
        <span class="icon-row">
            <button id="create-purchase-btn" class="btn purchase-icon-btn rounded-1"><i class="bi bi-plus-lg"></i></button>
            <button id="clear-purchase-btn" class="btn purchase-icon-btn rounded-1"><i class="bi bi-arrow-counterclockwise"></i></button>
        </span>
    </div>

    <div id="save-row" class="d-flex align-items-center justify-content-end p-1 mt-1">
        <p id="create-purchase-err" class="err mb-0 me-2"></p>
        <button id="revert-changes-btn" class="btn rounded-1 btn-outline-secondary fw-bold d-flex align-items-center me-2">Revert</button>
        <button id="save-purchases-btn" class="btn rounded-1 btn-primary fw-bold d-flex align-items-center" disabled>Save</button>
    </div>

    <h2>Page Links</h2>
    <div id="page-links-container"></div>
    <!--<p><strong>Client Page: </strong><a href="/client" target="_blank">http://localhost:3000/client</a><button class="btn qr-code-btn" data-url="http://localhost:3000/client" data-page="client"><i class="bi bi-qr-code"></i></button></p>
    <p><strong>Display Page: </strong><a href="/display" target="_blank">http://localhost:3000/display</a></p>
    <p><strong>Moderator Page: </strong><a href="/moderator" target="_blank">http://localhost:3000/moderator</a></p>
    <p><strong>Config Page: </strong><a href="/config" target="_blank">http://localhost:3000/config</a></p>-->

    <div style="height: 5em;"></div>

    
    <!--qr code modal-->
    <div class="modal fade" id="qr-code-modal" tabindex="-1" aria-labelledby="qr-code-modal-label" aria-hidden="true" data-item-cost="" data-item-description="">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qr-code-modal-label">QR Code</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="qr-code-container"></div>
                </div>
                <div class="modal-footer">
                    <button id="qr-code-save-btn" type="button" class="btn btn-primary">Save File</button>
                    <button id="qr-code-modal-close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/config/app.js"></script>
</body>
<%- include('partials/footer') %>
</html>