<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderator Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/moderator/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="/ws/socket.js"></script>
</head>

<body class="container p-3 d-flex flex-column">
    <h1>Moderator Page</h1>


    <ul class="nav nav-pills" id="moderator-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat-tab-pane"
                type="button" role="tab" aria-controls="chat-tab-pane" aria-selected="true">Chat</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="purchase-tab" data-bs-toggle="tab" data-bs-target="#purchase-tab-pane"
                type="button" role="tab" aria-controls="purchase-tab-pane" aria-selected="true">Purchases</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sent-chat-tab" data-bs-toggle="tab" data-bs-target="#sent-chat-tab-pane"
                type="button" role="tab" aria-controls="sent-chat-tab-pane" aria-selected="true">Sent Messages</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="purchased-tab" data-bs-toggle="tab" data-bs-target="#purchased-tab-pane"
                type="button" role="tab" aria-controls="purchased-tab-pane" aria-selected="true">Items Purchased</button>
        </li>

    </ul>
    <div class="tab-content" id="moderator-tab-content">
        <div class="tab-pane show active" id="chat-tab-pane" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
            <div id="msg-container"></div>
        </div>
        <div class="tab-pane show" id="purchase-tab-pane" role="tabpanel" aria-labelledby="purchase-tab" tabindex="0">
            <div id="purchase-container"></div>
        </div>
        <div class="tab-pane show active" id="sent-chat-tab-pane" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
            <div id="sent-msg-container"></div>
        </div>
        <div class="tab-pane show" id="purchased-tab-pane" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
            <div id="purchased-container"></div>
        </div>
    </div>


    <script src="/moderator/app.js"></script>
</body>

</html>