@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --default-background: rgb(9, 1, 44);
    --default-color: rgb(242, 245, 252);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--default-color);
    box-sizing: border-box;
    font-family: "Nunito", "Noto Sans", "Share Tech", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--default-background);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

svg {
    background-color: transparent;
}

.err {
    color: red;
    font-weight: bold;
}

.icon-row {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.icon-row button:hover {
    background-color: rgba(110, 145, 167, 0.449);
}

.icon-row button i {
    color: lightgrey;
}

.icon-row button:hover i {
    color: white;
}

.purchase-item {
    background-color: rgb(85 133 162 / 33%);
    border-radius: 0.1em;
}

.purchase-item.edited {
    background-color: var(--bs-warning-bg-subtle);
}

.purchase-item.deleted {
    background-color: var(--bs-danger-bg-subtle);
}

.purchase-item.new.deleted {
    background-color: var(--bs-danger-bg-subtle);
}

.purchase-item.new {
    background-color: #0b3522;
}

.purchase-item.edited.new {
    background-color: #0b3522;
}

.purchase-cost {
    font-weight: bold;
    color: orange;
}

.purchase-description {
    font-weight: bold;
    color: lightskyblue;
}

.purchase-item input.purchase-cost {
    width: 85px;
}

.purchase-content {
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}


#center-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#login-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    max-width: 360px;
    width: 360px;
    outline: none;
    border: 2px solid transparent;
    padding: 6px 8px;
    font-size: 15pt;
    background-color: #3a3a3a;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 12pt;
    margin: 9px 10px 0px 10px;
    border-radius: 8px;
    color: #e2e2e2;
}

input:hover,
input:focus {
    border-color: #bbb;
}

.form-err {
    width: 100%;
    padding: 3px 2px;
    font-size: 10pt;
    font-weight: 900;
    color: #ff2020;
    font-family: "Nunito", "Noto Sans", Arial, Helvetica, sans-serif;
    margin-left: 12px;
}

#form-header {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 8px;
}

#submit-btn {
    background-color: rgb(27, 135, 27);
    border: none;
    font-size: 15pt;
    font-weight: 700;
    color: #e2e2e2;
    margin: 9px 10px;
    border-radius: 8px;
    padding: 6px 10px;
    transition: all 0.3s ease;
    margin-top: 16px;
}

#submit-btn:hover {
    background-color: rgb(5, 97, 5);
}

#submit-btn:focus {
    background-color: rgb(5, 80, 5);
}

#signup-link {
    margin-top: 16px;
}

#signup-link a {
    color: #008dd3;
}