@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --default-background: rgb(9, 1, 44);
    --default-color: rgb(242, 245, 252);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--default-color);
    box-sizing: border-box;
    font-family: "Nunito", "Noto Sans", "Share Tech", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--default-background);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

svg {
    background-color: transparent;
}

#options-container {
    overflow-y: auto;
}

#form-err {
    color: red;
    font-weight: bold;
}

.option-row {
    /* background-color: #b0c4de31; */
    background-color: rgba(255, 166, 0, 0.233);
    align-items: center;
}

.option-row:hover {
    /* background-color: #b0c4de5e; */
    background-color: rgba(255, 166, 0, 0.438);
}

.option-row .price {
    font-weight: bold;
}

.option-row i {
    padding: 2px 5px 1px;
    background-color: #2c7891;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15pt;
    cursor: pointer;
}

.option-row i:hover {
    background-color: #3b9fc0;
}

.icon-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

#purchase-description {
    font-weight: bold;
    color: lightskyblue;
}

#purchase-cost {
    font-weight: bold;
    color: orange;
}

.err {
    font-weight: bold;
    color: red;
}