@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --default-background: rgb(9, 1, 44);
    --default-color: rgb(242, 245, 252);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--default-color);
    box-sizing: border-box;
    font-family: "Nunito", "Noto Sans", "Share Tech", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--default-background);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

#msg-container {
    overflow-y: auto;
}

svg {
    background-color: transparent;
}

#form-err {
    color: red;
    font-weight: bold;
}

.msg-row,
.purchase-row {
    background-color: var(--bs-tertiary-bg);
    border-radius: 0.5em;
    align-items: center;
}

/*
.msg-row i,
.purchase-row i {
    margin: 0.20em;
    cursor: pointer;
    display: inline-block;
    padding: 0.1em 0.35em;
    border-radius: 0.1em;
}

.msg-row i:hover,
.purchase-row i:hover {
    background-color: var(--bs-secondary);
}*/

/*
.trash-btn {
    color: var(--bs-warning);
}

.trash-btn:hover {
    color: var(--bs-danger);
}

.send-btn {
    color: var(--bs-body-color);
}

.send-btn:hover {
    color: var(--bs-info);
}*/

.purchase-username {
    color: orange;
    font-weight: bold;
}

.purchase-cost {
    color: lightskyblue;
    font-weight: bold;
}



.icon-row {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.icon-row button:hover {
    background-color: rgba(110, 145, 167, 0.449);
}

.icon-row button i {
    color: lightgrey;
}

.icon-row button:hover i {
    color: white;
}

.nav-link.active .badge {
    background-color: var(--badge-active-bg) !important;
}

.hidden {
    display: none !important;
}